# Git
.git
.gitignore

# Node
node_modules
npm-debug.log*
yarn-error.log
pnpm-lock.yaml

# Build caches
dist
build
.cache

# Docker
Dockerfile*
*.tar

# Tilde repo internals
tilde/.git
tilde/.gitmodules

